<html>
<head>
    <title>Join {{.Team.Name}} on Slack!</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="https://slack.global.ssl.fastly.net/272a/img/icons/favicon-32.png">
    <link rel="stylesheet" href="/static/app.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <style>
        .logo.org {
            background-image: url({{.Team.Icon}});
        }
    </style>
</head>
<body>
    <div class="splash">
        <div class="logos">
            <div class="logo org"></div>
            <div class="logo slack"></div>
        </div>
        <p>Join <b>{{.Team.Name}}</b> on Slack.</p>
        <p class="status"><b class="active">{{.ActiveCount}}</b> users online now of
        <b class="total">{{.UserCount}}</b> registered.</p>
        <form>
            <input autofocus="true" class="form-item" name="email" placeholder="you@yourdomain.com" type="email">
            <input class="form-item" name="fname" placeholder="First name" type="text">
            <input class="form-item" name="lname" placeholder="Last name" type="text">
            {{if .InviteToken}}
                <input class="form-item" name="invite_token" placeholder="Invite token" type="password">
            {{end}}
            {{if .ShowCoC}}
                <div class="coc">
                    <label><input name="coc" type="checkbox" value="1">I agree to
                    the <a href="http://coc.golangbridge.org/" target="_blank">Code
                    of Conduct</a>.</label>
                </div>
            {{end}}
            <br>
            <div class="g-recaptcha" data-sitekey="{{.SiteKey}}"></div>
            <button class="loading">Get my Invite</button>
        </form>
        <p class="signin">or <a href="https://{{.Team.Domain}}.slack.com" target=
        "_top">sign in</a>.</p>
        <footer>
            powered by
            <a href="http://github.com/flexd/slackinviter" target="_blank">
                slackinviter... totally ripping off the slackin css :-)
            </a>
        </footer>
    </div>
    <script src="/static/superagent.js"></script>
    <script src="/static/client.js"></script>
</body>
</html>
